name: Fly Deploy

on:
  push:
    branches: [main]
    paths:
      - 'frontend/**'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only --build-arg NEXT_PUBLIC_API_URL=$API_URL --build-arg AUTH_URL=$AUTH_URL --build-arg AUTH_SECRET=$AUTH_SECRET --build-arg AUTH_GOOGLE_ID=$AUTH_GOOGLE_ID --build-arg AUTH_GOOGLE_SECRET=$AUTH_GOOGLE_SECRET --build-arg AUTH_DISCORD_ID=$AUTH_DISCORD_ID --build-arg AUTH_DISCORD_SECRET=$AUTH_DISCORD_SECRET
        working-directory: ./frontend
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          API_URL: ${{ vars.API_URL }}
          AUTH_URL: ${{ vars.AUTH_URL }}
          AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
          AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
          AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}
          AUTH_DISCORD_ID: ${{ secrets.AUTH_DISCORD_ID }}
          AUTH_DISCORD_SECRET: ${{ secrets.AUTH_DISCORD_SECRET }}
